<section class="history-page">
  <div>
    În anul 1998, odată cu dorinţa noastră de a participa ca o echipă la Maratonul celor 24 de ore de înot, s-a pus problema alegerii unui nume reprezentativ. Fiind PICI, dar nu OLIMPICI, varianta LIMPICILOR a părut tuturor cea mai nimerită, dar şi cea mai haioasă. Mascota grupului ne-a fost alături şi ne-a purtat mereu noroc. În seria participărilor anuale la maratonul de înot, Limpicii s-au remarcat prin spiritul de echipă fără de care nu şi-ar fi putut înfrânge limitele.
  </div>
</section>
